<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796567836140-v7nccte1mk004iqu29ut6o6hbt4oju3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796567836140-v7nccte1mk004iqu29ut6o6hbt4oju3u</string>
	<key>API_KEY</key>
	<string>AIzaSyBzb54hUCBE5x6anSD4bdJXj65cW5gfznk</string>
	<key>GCM_SENDER_ID</key>
	<string>796567836140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atabany.Onboarding</string>
	<key>PROJECT_ID</key>
	<string>onboarding-c36b0</string>
	<key>STORAGE_BUCKET</key>
	<string>onboarding-c36b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796567836140:ios:488ca588aa12870c1c1cc9</string>
</dict>
</plist>